<div class="app-fake-header"></div>

<p class="title" [ngClass]="{'hidden-title': !useShortDescription}">About</p>
<img class="image" src="/assets/about-me.jpg"/>
<p class="description">
    {{ useShortDescription ? shortDescription : longDescription }}
</p>
<p class="title-socials">Socials</p>
<div class="socials">
    <a href="https://www.instagram.com/jackcrymble/" target="_blank"><i class="mdi mdi-instagram"></i></a>
    <a href="https://www.youtube.com/channel/UC-eZjP-3OLRk18Ce-AvRwAA" target="_blank"><i class="mdi mdi-youtube"></i></a>
</div>
