/* INDEX - ABOUT */

:host {
    height: 100vh;
    background-color: #111;
    display: block;
}

.title {
    color: #fff;
    font-size: 30px;
    font-family: Oswald;
    text-align: center;
    padding-top: 22px;
}

.image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 0 auto;
    padding: 20px 0;
}

.description {
    color: #fff;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 100;
    text-align: center;
    margin-left: 36px;
    margin-right: 36px;
}

.socials {
    display: flex;
    justify-content: center;

    a {
        display: inline-block;
        text-align: center;
        line-height: 40px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        /* background-color: #FFA800; */
        background-color: #fff;
        color: #111;
        margin: 11px 8px;
        transition: all 0.3s ease-in-out;
    }
}

@media only screen and (min-width:1000px) {
    .title {
        display: none;
    }

    .socials {
        display: none;
    }
}
