<section class="index-highlights">
    <p class="title">Highlights</p>
    <div class="highlights-container">
        <div *ngFor="let highlight of highlights; let index = index" class="highlights-item" (click)="openViewer(highlight)">
            <div [ngClass]="indexToString(index)" [ngStyle]="{'background-image': 'url(' + backgroundImageString(index) + ')'}">
                <p class="item-title">{{ highlight.title }}</p>
            </div>
            <p class="desktop-title">{{ highlight.title }}</p>
            <p class="desktop-description">{{ highlight.description_long }}</p>
        </div>
    </div>
</section>
