<section class="index-highlights">
    <p class="title">Highlights</p>
    <div class="highlights-container">
        <div class="highlights-item">
            <div class="first">
                <p class="item-title">Woodlands</p>
            </div>
            <p class="desktop-title">Woodlands</p>
            <p class="desktop-description">Description</p>
        </div>

        <div class="highlights-item">
            <div class="second">
                <p class="item-title">Mountains</p>
            </div>
            <p class="desktop-title">Mountains</p>
            <p class="desktop-description">Description</p>
        </div>

        <div class="highlights-item">
            <div class="third">
                <p class="item-title">Tropical</p>
            </div>
            <p class="desktop-title">Tropical</p>
            <p class="desktop-description">Description</p>
        </div>
    </div>
</section>
